<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Maven Repository serving rubygems</display-name>
  <context-param>
    <param-name>gem-proxy-storage</param-name>
    <param-value>/var/cache/gem-proxy</param-value> 
  </context-param>
  <listener>
    <listener-class>de.saumya.mojo.proxy.GemProxyServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>gems</servlet-name>
    <servlet-class>de.saumya.mojo.proxy.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/releases/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/releases/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/prereleases</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/prereleases/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gems</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
