<settings>
  <servers>
    <server>
      <id>mavengems-without-mirror</id>
      <username>my_login</username>
      <password>my_password</password>
      <configuration>
        <cachedir>${user.dir}/target/cachedir</cachedir>
      </configuration>
    </server>
    <server>
      <id>mavengems-with-mirror</id>
      <username>my_login</username>
      <password>my_password</password>
      <configuration>
        <cachedir>${user.dir}/target/cachedir</cachedir>
	<mirror>https://rubygems.org</mirror>
      </configuration>
    </server>
  </servers>
  <profiles>
    <profile>
      <id>it-repo</id>
      <activation>
	<activeByDefault>true</activeByDefault>
      </activation>
      <pluginRepositories>
	<pluginRepository>
          <id>local.central</id>
          <url>@localRepositoryUrl@</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
	</pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
